/**
    1. MAIN
    2. QUESTION PREVIEW
    3. LOGOTYPE
    4. QUIZE VIEW
    5. LOGIN FRONT VIEW
    6. BOTTOM FRONT NAV
    7. QUIZE HISTORY INDEX VIEW
    8. CONTACT PAGE
    9. QUIZES CREATE
    10. QUIZES CREATE SUCCESS
*/

/* 1. MAIN */
*{
    box-sizing: border-box;
}
body{
    font-family: Ubuntu Regular, sans-serif;
    font-size: 16px;
    background-image: url(/images/paper-100x100.png);
}
.wrap{
    max-height: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 0 60px;
    
    > .container{
        padding: 0 15px 20px;
        
        > .row.title{
            margin: 0 0 15px 0;
            
            h1{
                font-size: 26px;
            }
            
            @media (min-width: 768px){
                &{
                    h1{
                        font-size: 31px;
                    }
                }
            }
        }
    }
}
.body-content{
    max-width: 600px;
    margin: 0 auto;
}

/* 2. QUESTION PREVIEW */
.question-previews-box {
    .title{
        margin: 0 -15px 15px -15px;
        
        h1{
            font-size: 2em;
            text-align: center;
        }
    }
    .col{
        margin: 0 0 15px 0;
    }
}
.question-preview{
    display: block;
    padding: 7px 15px;
    border-radius: 3px;
    cursor: pointer;
    background: #34ce4b;
    border-top: 2px solid #38e051;
    border-bottom: 2px solid #2ead41;
    box-shadow: inset -2px -2px 2px 0px #1bbb33, 1px 1px 4px 0px rgba(0, 0, 0, 0.25);
    
    &:hover,
    &:active,
    &:focus{
        background: #52ec69;
        border-top: 2px solid #58f56f;
        border-bottom: 2px solid #3dca52;
        box-shadow: inset -2px -2px 2px 0 rgb(46, 218, 72), 1px 1px 3px 0 rgba(0,0,0,0.25);
        text-decoration: none;
    }
    > .inner{
        h2{
            margin: 0;
            font-size: 1.3em;
            line-height: 1.5em;
            color: #FFF;
        }
        > span.timer{
            text-align: right;
        }
        @media (max-width: 767px){
            > span{
                width: 100%;
                display: block!important;
                float: none;
            }
            > span.quetion-text{
                font-size: 1.2em;
                font-family: Ubuntu Bold, sans-serif;
            }
            > .separator{
                border-top: 1px solid #30b744;
                border-bottom: 1px solid #37de50;
                margin: 10px 15px 5px 15px;
            }
        }
    }
}
.question-preview.history{
    background: #232322;
    border-top: 2px solid  #232322;
    border-bottom: 2px solid  #232322;
    box-shadow: inset -2px -2px 2px 0px #232322, 1px 1px 3px 0 rgba(0,0,0,0.25);

    &:hover,
    &:active,
    &:focus{
        background: #454543;
        border-top: 2px solid #454543;
        border-bottom: 2px solid #454543;
        box-shadow: inset -2px -2px 2px 0 rgb(51, 51, 51), 1px 1px 3px 0 rgba(0,0,0,0.25);
    }
}
    
/* 3. LOGOTYPE */
.logotype{
    text-align: center;
    margin: 0 0 0 0;
    
    a {
        display: inline-block;
    }
    
    .image{
        display: block;
        max-width: 200px;
        margin: 0 auto;
    }
}

@media screen and (max-width:430px) {
    #main-page {
        .quizes-index {
            clear: both;
        }

        .logotype img {
            max-width: 100% !important;
            height: auto;
        }

        .logotype {
            width: 50%;
            float: left;
            margin-top: 10px;
        }

        .title {
            float: right;
            width: 50%;
        }

        .title h1 {
            font-size: 21px !important;
            margin-top: 35px;
        }
    }
}

/* 4. QUIZE VIEW */

.quizes-view{
    .body-content{
        .question-body{
            .jumbotron{
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #FFF;
                border-radius: .3rem;
                box-shadow: 2px 2px 3px 0 rgba(0,0,0,.1);
                
                h1{
                    font-size: 1.8em;
                    margin: 0 0 5px 0;
                    @media screen and (min-width: 768px){
                        &{
                            font-size: 32px;
                        }
                    }
                }
                
                p.lead{
                    font-size: 1.2em;
                    @media screen and (min-width: 768px){
                        &{
                            font-size: 1.3em;
                        }
                    }
                }
            }
        }
        
        .variants{
            .inputs{
                display: none;
                visibility: none;
            }
            
            .buttons{
                .col{
                    padding-right: 15px;
                    padding-left: 15px;
                    padding-bottom: 15px;
                    
                    .btn{
                        width: 230px;
                        padding: 6px 25px;
                        white-space: normal;
                        outline: none;
                        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
                        
                        &:focus,
                        &.focus {
                            border-color: #449d44;
                        }
                    }
                }
            }
            
            .submit-row{
                #submit-answer{
                    outline: none;
                    
                    &.dissabled{
                        cursor: default;
                        color: #a7a7a7;
                    }
                    
                    &.btn-success{
                        color: #fff;
                        background-color: #ff8b1f;
                        border-color: #ef7b10;
                    }
                }
            }
        }
        
        .variants.no-variants{
            .alert{
                text-align: center;
                
                h3{
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}
.quize-results{
    .body-content{
        .question-body{
            .jumbotron{
                padding-top: 10px;
                padding-bottom: 10px;
                background-color: #FFF;
                border-radius: .3rem;
                box-shadow: 2px 2px 3px 0 rgba(0,0,0,.1);
                
                h1{
                    font-size: 1.8em;
                    margin: 0 0 5px 0;
                    @media screen and (min-width: 768px){
                        &{
                            font-size: 32px;
                        }
                    }
                }
            }
        }
        .variants{
            margin: 0 0 20px 0;
            
            .inputs{
                display: none;
                visibility: none;
            }
            .buttons{
                .col{
                    padding-right: 15px;
                    padding-left: 15px;
                    padding-bottom: 15px;

                    .btn{
                        width: 230px;
                        padding: 6px 25px;
                        white-space: normal;
                        outline: none;
                        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
                        
                        &:focus,
                        &.focus {
                            border-color: #449d44;
                        }
                    }
                }
            }
            .submit-row{
                #submit-answer{
                    outline: none;

                    &.dissabled{
                        cursor: default;
                        color: #a7a7a7;
                    }
                    &.btn-success{
                        color: #fff;
                        background-color: #ff8b1f;
                        border-color: #ef7b10;
                        box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }
}
.add-custom-question{
    > .row{
        text-align: right;
        
        #add-custom-question-button{
            display: inline-block;
            background: #FF8B1F;
            color: #FFF;
            padding: 8px 12px;
            border-radius: 3px;
            border-top: 2px solid #ffb067;
            border-bottom: 2px solid #d27117;
            box-shadow: inset -2px -2px 2px 0 #e67d1b, 1px 1px 4px 0px rgba(0, 0, 0, 0.25);

            &:active,
            &:focus{
                background: #d27117;
                border-top: 2px solid #b3661f;
                border-bottom: 2px solid #d27117;
                box-shadow: inset 4px 2px 2px 0 #b56216;
            }
        }
    }
}

/* 5. LOGIN FRONT VIEW */
.front-site-login{
    padding: 10px 20px 30px 20px;
    background: #f3f3f3;
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px rgba(62, 62, 62, 0.2);

    .heading{
        text-align: center;
    }
    .soc-buttons-row{
        .eauth{
            .eauth-list{
                text-align: center;
                margin: 0;
            }
        }
    }
}

/* 6. BOTTOM FRONT NAV */
.main-bottom-nav{
    .container{
        .navbar-header{
            .navbar-brand{
                padding: 10px;
                
                img{
                    height: 100%;
                }
            }
        }
        .navbar-collapse{
            ul.navbar-nav{
                li.navbar-right{
                    > a{
                        text-align: center;
                    }
                }
            }
            
            @media (min-width: 768px){
                ul.navbar-nav{
                    display: block;
                    float: none;
                    text-align: center;
                    
                    li{
                        float: none;
                        display: inline-block;
                    }
                    li.navbar-right{
                        > a{
                            text-align: left;
                        }
                    }
                }
            }
        }
    }
}

/* 7. QUIZE HISTORY INDEX VIEW */
.quizes-history{
    .title{
        margin: 0 -15px 15px -15px;
    }
}

/* 8. CONTACT PAGE */
.site-contact{
    .body-content{
        #contact-form{
            .submit-block{
                display: flex;
                flex-wrap: wrap;
                
                .capcha-column{
                    > .form-group{
                        margin-bottom: 0;
                    }
                    #contactform-verifycode-recaptcha{
                        > div{
                            margin: 0 auto;
                        }
                    }
                }
                .submit-column{
                    min-height: 46px;
                    
                    > .form-group{
                        position: relative;
                        margin-bottom: 0;
                        height: 100%;
                        
                        > button{
                            position: absolute;
                            right: 50%;
                            transform: translateX(50%);
                            text-transform: uppercase;
                            bottom: 0px;
                            width: 160px;
                            height: 45px;
                        }
                    }
                }
            }
            textarea{
                resize: vertical;
                max-height: 200px;
            }
            @media (min-width: 768px){
                & .submit-block{
                    .capcha-column{
                        #contactform-verifycode-recaptcha{
                            > div{
                                margin: 0;
                            }
                        }
                    }
                    .submit-column{
                        > .form-group{
                            height: calc(100% - 15px);
                            min-height: 78px;
                            
                            > button{
                                right: 0;
                                transform: translateX(0);
                                bottom: 2px;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 9. QUIZES CREATE */
.quizes-create{
    height: calc(100% - 181px);
    
    .body-content{
        #quize-user-create-form{
            #add-variants{
                .kv-grid-table{
                    > thead{
                        @media screen and (max-width: 480px){
                            & > tr{
                                > th{
                                    font-size: 1em;
                                }
                                > th:nth-child(4){
                                    display: none;
                                }
                            }
                        }
                    }
                    > tbody{
                        .kv-tabform-row{
                            border-bottom: 1px solid #dddddd;
                            
                            @media screen and (max-width: 480px){
                                &:nth-child(even){
                                    background-color: #f5f5f5;
                                }
                                &:last-child{
                                    border-bottom: 0;
                                }
                                & > td{
                                    float: left;
                                    padding: 8px 1px;
                                }
                                & > td:nth-child(1){
                                    width: 40px!important;
                                    border-top: 0;
                                    margin-top: 0;
                                    font-size: 20px;
                                }
                                & > td:nth-child(3){
                                    width: calc(100% - 80px)!important;
                                    border-top: 0;
                                }
                                & > td:nth-child(4){
                                    width: 40px!important;
                                    border-top: 0;
                                }
                            }
                        }
                        
                    }
                }
            }
            .submit-block{
                display: flex;
                flex-wrap: wrap;
                
                > .col{
                    padding: 0;
                }
                > .col.submit{
                    > .form-group{
                        height: 45px;
                        margin-bottom: 0;
                        position: relative;
                        
                        > button{
                            position: absolute;
                            right: 50%;
                            transform: translateX(50%);
                            text-transform: uppercase;
                            bottom: 0px;
                            width: 160px;
                            height: 45px;
                        }
                        @media (min-width: 768px){
                            & {
                                height: calc(100% - 15px);
                                min-height: 78px;

                                > button{
                                    right: 0;
                                    transform: translateX(0);
                                    bottom: 2px;
                                }
                            }
                        }
                    }
                }
                > .col.captcha{
                    #userquize-recaptcha-recaptcha{
                        > div{
                            margin: 0 auto;
                            
                            @media (min-width: 768px){
                                & {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* 10. QUIZES CREATE SUCCESS */
.quizes-create-success{
    .body-content{
        padding: 20px 15px;
        
        .to-home-col{
            margin-bottom: 20px;

            > .btn{
                width: 100%;
            }
            > .glyphicon{
                vertical-align: text-top;
            }
        }
        .to-create-col{
            > .btn{
                width: 100%;
            }
            > .glyphicon{
                vertical-align: text-top;
            }
        }
    }
}